---
---

@import "us_web_design_standards";

.sidenav {
    border-right: 1px solid #aeb0b5;
    padding: 5rem 3rem 3rem 3rem;
}

.main-content {
	
	margin-left: 200px;
	     width: auto;
		 max-width: 960px;
	     position: relative;
	     overflow: auto;
	     z-index: 1;
}

.lesson-card {
	background: white;
	-moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	padding: 1em;
	transform: translate(0, 0);
}

