<header class="usa-site-header" role="banner">

<div class="usa-grid">
	
  <div class="usa-width-one-fourth">
      <p><img class="logo" alt="NCI Logo" src="{{ site.baseurl }}/img/nci-logo-full.svg"></p>
    <p class="usa-disclaimer-stage">This site is currently in development. <a href="https://github.com/sachsmc/assay-education">Learn more.</a></p>
  </div>
  
   <div class="usa-width-one-half">
        <h1>
          <a href="{{ site.baseurl }}/" accesskey="1" title="Home" aria-label="Home">
			  {{ site.title }}</a>
        </h1>
	</div>
      <ul class="usa-button-list usa-unstyled-list usa-width-one-fourth">
        <li>
          <a class="usa-button" href="{{ site.baseurl }}/about/">About</a>
        </li>
        <li>
          <a class="usa-button usa-button-outline" href="https://github.com/sachsmc/assay-education">
            View on GitHub
          </a>
          </li>
      </ul>
</div>
  
</header>

